---
import { Image } from "astro:assets";
import shell from "../assets/icons/shell.svg";
import aboutUsImage from "../assets/images/cabana-service-cart-to-beach.jpg";
---

<div
  class="bg-[url(../assets/images/cabana-detail-cooler-sunscreen-speaker.jpg)] imageDivider mt-0 "
>
</div>

<section id="about" aria-labelledby="about-heading" class="bg-softSand">
  <div class="grid md:grid-cols-2 gap-10 md:gap-20">
    <div class="mx-auto md:grid content-between">
      <div class="flex">
        <h2 class="md:text-left">Inspired by the sea. Created for ease.</h2>
        <Image src={shell} alt="" class="mx-auto mb-10 md:w-36" />
      </div>
      <div class="space-y-5 text-lg text-coconutShell leading-relaxed">
        <p>
          Cabana Kai was created with one simple goal: <span class="font-bold"
            >to make beach days feel effortless.</span
          >
        </p>
        <p>
          As a couple from coastal towns, the beach has always felt like home.
          When our son Kai was born, our desire to stay close to the ocean only
          grew stronger.
        </p>
        <p>
          But every beach trip came with the same stress — packing, carrying,
          setting up… and barely relaxing.
        </p>
        <p>
          So we built Cabana Kai to offer families, couples, and friends the
          chance to just arrive and enjoy — <span class="font-bold"
            >no stress, no gear, no heavy lifting.</span
          >
        </p>
        <p>
          Inspired by Kai’s love for the sea, every setup is thoughtfully
          curated with comfort, style, and the kind of calm that only the shore
          can bring.
        </p>
        <p>
          We bring the shade, the chairs, the cooler, and the vibe — so all you
          have to do is show up and soak it in.
        </p>
      </div>
      <div class="mt-10">
        <p class="font-accent uppercase font-bold text-lg text-sunsetOrange">
          With heart and sunshine,
        </p>
        <p class="font-heading text-3xl mt-2">
          Juan, Veronica, Kai & the Cabana Kai team
        </p>
      </div>
    </div>
    <Image src={aboutUsImage} alt="" class="rounded-3xl shadow-md" />
  </div>
</section>
