---
import PolicyCard from "../components/ui/PolicyCard.astro";
import bookingIcon from "../assets/icons/payment.svg";
import cancelIcon from "../assets/icons/cancellation.svg";
import weatherIcon from "../assets/icons/weather.svg";
import equipmentIcon from "../assets/icons/equipment.svg";
---

<section id="policies" aria-labelledby="policies-title" class="bg-sandyBeige">
  <div class="">
    <h2>Before you book, here’s what to know:</h2>

    <div class="flex flex-row flex-wrap justify-center  gap-5" role="list">
      <PolicyCard
        icon={bookingIcon}
        alt="Booking icon"
        title="Booking & Payment"
        bullets={[
          "Reservations are confirmed once payment is received in full.",
          "We recommend booking at least 48 hours in advance.",
        ]}
      />

      <PolicyCard
        icon={weatherIcon}
        alt="Weather icon"
        title="Weather"
        bullets={[
          "If bad weather is forecasted, you may reschedule or receive a refund (as long as setup hasn't begun).",
          "Once setup is in progress or complete, no refunds will be issued.",
          "We may adjust or lower the setup due to high winds (20+ mph).",
        ]}
      />

      <PolicyCard
        icon={cancelIcon}
        alt="Cancel icon"
        title="Cancellations"
        bullets={[
          "Cancel 48+ hours before your reservation for a full refund (minus a 3% fee).",
          "Less than 48 hours = $75 fee.",
          "No-shows are non-refundable.",
        ]}
      />

      <PolicyCard
        icon={equipmentIcon}
        alt="Equipment icon"
        title="Equipment Care"
        bullets={[
          "Guests are responsible for Cabana Kai equipment.",
          "Avoid placing wet or sandy items directly on towels or cushions.",
          "Lost/damaged items may result in a replacement fee.",
        ]}
      />
    </div>
  </div>
</section>

<div
  class="bg-[url(../assets/images/cabana-umbrella-closeup-lightflare.jpg)] imageDivider mt-0"
>
</div>
