---
import PolicyCard from "@ui/PolicyCard.astro";
import bookingIcon from "@icons/payment.svg";
import cancelIcon from "@icons/cancellation.svg";
import weatherIcon from "@icons/weather.svg";
import equipmentIcon from "@icons/equipment.svg";
---

<section
  id="policies"
  aria-labelledby="policies-title"
  class="bg-sandyBeige py-20"
>
  <div
    class="opacity-0 intersect:opacity-100 intersect:animate-fade-up intersect-once md:intersect-half animate-delay-[100ms] transition-opacity duration-500"
  >
    <h2 class="text-center mb-10">Before you book, here’s what to know:</h2>

    <div class="flex flex-row flex-wrap justify-center gap-5 2xl:max-w-6xl 2xl:mx-auto" role="list">
      <PolicyCard
        icon={bookingIcon}
        alt="Booking icon"
        title="Booking & Payment"
        bullets={[
          "Reservations are confirmed once payment is received in full.",
          "We recommend booking at least 48 hours in advance.",
        ]}
        className="opacity-0 intersect:opacity-100 intersect:animate-fade-up intersect-once intersect-half animate-delay-[200ms] transition-opacity duration-500"
      />

      <PolicyCard
        icon={weatherIcon}
        alt="Weather icon"
        title="Weather"
        bullets={[
          "If bad weather is forecasted, you may reschedule or receive a refund (as long as setup hasn't begun).",
          "Once setup is in progress or complete, no refunds will be issued.",
          "We may adjust or lower the setup due to high winds (20+ mph).",
        ]}
        className="opacity-0 intersect:opacity-100 intersect:animate-fade-up intersect-once intersect-half animate-delay-[300ms] transition-opacity duration-500"
      />

      <PolicyCard
        icon={cancelIcon}
        alt="Cancel icon"
        title="Cancellations"
        bullets={[
          "Cancel 48+ hours before your reservation for a full refund (minus a 3% fee).",
          "Less than 48 hours = $75 fee.",
          "No-shows are non-refundable.",
        ]}
        className="opacity-0 intersect:opacity-100 intersect:animate-fade-up intersect-once intersect-half animate-delay-[400ms] transition-opacity duration-500"
      />

      <PolicyCard
        icon={equipmentIcon}
        alt="Equipment icon"
        title="Equipment Care"
        bullets={[
          "Guests are responsible for Cabana Kai equipment.",
          "Avoid placing wet or sandy items directly on towels or cushions.",
          "Lost/damaged items may result in a replacement fee.",
        ]}
        className="opacity-0 intersect:opacity-100 intersect:animate-fade-up intersect-once intersect-half animate-delay-[500ms] transition-opacity duration-500"
      />
    </div>
  </div>
</section>

<div
  class="bg-[url(../assets/images/cabana-umbrella-closeup-lightflare.jpg)] imageDivider mt-0"
>
</div>
