---
export interface Props {
  icon: any;
  alt: string;
  label: string;
}
const { icon, alt, label } = Astro.props;
---

<li class="flex items-center gap-3">
  <img src={icon.src} alt={alt} class="w-6 h-6 shrink-0" loading="lazy" />
  <span class="text-coconutShell text-lg/tight">{label}</span>
</li>
