---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";

export interface Props {
  icon: string | ImageMetadata;
  title: string;
  description: string;
  alt?: string;
}

const { icon, title, description, alt = "" } = Astro.props;

const isAstroImage = typeof icon !== "string";
---

<article
  class="rounded-3xl p-8 bg-sandyBeige shadow-card text-left flex flex-col items-start gap-2 basis-full"
>
  {
    isAstroImage ? (
      <Image
        src={icon as ImageMetadata}
        alt={alt}
        width={32}
        height={32}
        class="w-8 h-8"
      />
    ) : (
      <img src={icon as string} alt={alt} class="w-8 h-8" />
    )
  }

  <h3>
    {title}
  </h3>
  <p class="text-coconutShell font-body text-lg leading-6">{description}</p>
</article>
